body {
    width: 778px;
    height: 939px;
    font-family: "Oswald", sans-serif;
    background-color: white;
    font-style : normal;
    text-align: justify;
    margin: auto;
    padding-top: 60px;
    padding-left: 107px;
    padding-right: 110px;
    padding-bottom: 75px;
    border: 6px solid black;
}

header {
    width: 423px;
    height: 359px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 48px

    border: solid red 10px;
}

.filmInfo {
    display: flex;
    flex-direction: column;
    width: 423px;
    height: 359px;
    align-items: left;
    justify-content: left;
    padding-top: 21px;
    padding-left: 46px;

    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    vertical-align: middle;
    
    border: solid red 5px;
}

.poster {
    display: flex;
    flex-direction: column;
    width: 227px;
    height: 334px;
    align-items: center;
    justify-items: right;
    /* padding-top: 34px;
    padding-right: 34px;
    padding-left: 517px; */

    top: 4246px;
    left: -962px;

    border: solid red 5px;
}

.summarized {
    width: 698px;
    height: 457px;
    top: 4502px;
    left: -1433px;
}

.actors_section {
    width: 692px;
    height: 248px;
    top: 4830px;
    left: -1433px;

    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;

    vertical-align: middle;
}

.actors_names {
    font-weight: normal;
}

.return_button a {
    width: 214px;
    height: 36px;
    top: 5070px;
    left: -1197px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    gap: 10px;

    background-color: #fa0b0b;
    color: white;
}

