body {
    font-family: "Oswald", sans-serif;
    background-color: white;
    font-style : normal;
    text-align: justify;
    padding: 1em;
}

/* Box Header */
.pageHeader {
    box-sizing: border-box;
    position: absolute;
    width: 837px;
    height: 122px;
    background: #61787F;
    border: 1px solid #000000;


/* Logo */
.pageHeader img {
    position: absolute;
    width: 127px;
    height: 94px;
}

/* "Vidéos à la demande" */
.pageHeader p {
    position: absolute;
    width: 514px;
    height: 51px;
    font-weight: 300;
    font-size: 40px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.bestFilm {
    padding-top: 20em;
}

