body {
    font-family: "Oswald", sans-serif;
    background-color: white;
    font-style : normal;
    text-align: justify;
    margin: auto;
    padding-top: 60px;
    padding-left: 107px;
    padding-right: 110px;
    padding-bottom: 75px;
    border: 6px solid black;
}

.header {
    display: flexbox;
    width: 70%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.filmInfo {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding-left: 27px;
    border: solid red 1px;
}

.year_cat{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    border: solid red 1px;
    
}

.class_dur{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    border: solid red 1px;
}

.poster {
    display: flex;
    position: right;
    border: solid red 1px;
}